<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>My welcome page</title>
</head>
<body>
    <h1>First impression of the page</h1>

    <!--/*@thymesVar id="one" type="com.crud.tasks.controller.StaticWebController"*/-->
    <!--/*@thymesVar id="two" type="com.crud.tasks.controller.StaticWebController"*/-->

    <br>
    <span th:text="'2 * 2 = ' + (${two} * ${two})"></span>
    </br>

    <br>
    <span th:text="'2 * 2 + 2 = ' + (${two} * ${two} + ${two})"></span>
    </br>

    <br>
    <span th:text="'2 - 2 * 2 = ' + (${two} - ${two} * ${two})"></span>
    </br>

</body>
</html>